@* 若泰应用开发平台主布局视图，该布局定义了开发平台的主体默认布局，是视图默认加载的布局页面，请不要删除这个文件，自定义布局请继承扩展该布局 *@
@{
    Layout = "~/Views/Shared/KLayouts/_BaseLayout.cshtml";
    var localString = "min.";
    var version = Html.GetFileVersion();
    var screen = HttpContextAccessor.HttpContext.Session.Get<AppScreen>("AppScreen");
    var defaultSkin = string.Format("~/Asserts/styles/theme/{0}/skin.css", screen == null ? "blue" : screen.Skin);
    if (!System.IO.File.Exists(System.IO.Path.Combine(HttpContextExtensions.ContentRootPath, defaultSkin.Replace("..", "~"))))
    {
        defaultSkin = string.Format("~/Asserts/styles/theme/blue/skin.css");
    }
}
@section Style_Link{
    @(PlatformContext.ApplicationScreen.StyleLinks
                                                                                                             .Add(string.Format("~/Asserts/styles/platform.{0}css?t={1}", localString, version))
                                                                                                             .Add(string.Format("~/Asserts/styles/icons/menuIcon.{0}css?t={1}", localString, version))
                                                                                                             .Add(defaultSkin)
                                                                                                             .Load())
    @RenderSection("Style_Link", required: false)
}
@section Script_Link{
    @(PlatformContext.ApplicationScreen.ScriptLinks


                                                                                                      .Add(string.Format("~/Asserts/scripts/lib/jquery/jquery-2.2.1.min.js?v={1}", localString, version))
                                                                                                     //.Add(string.Format("~/Asserts/scripts/lib/kendo/kendo.custom.{0}js?v={1}", localString, version))
                                                                                                     .Add(string.Format("~/Asserts/scripts/lib/kendo/kendo.custom.{0}js?v={1}", localString, version))
                                                                                                     .Add(string.Format("~/Asserts/scripts/lib/kendo/cultures/kendo.culture.zh-CN.{0}js?v={1}", localString, version))
                                                                                                     .Add(string.Format("~/Asserts/scripts/lib/kendo/messages/kendo.messages.zh-CN.{0}js?v={1}", localString, version))
                                                                                                     .Add(string.Format("~/Asserts/scripts/lib/CustomExtends/kendo.extend.js?v={1}", localString, version))
                                                                                                     .Add(string.Format("~/Asserts/scripts/lib/CustomExtends/kendo.core.extend.{0}js?v={1}", localString, version))
                                                                                                     .Add(string.Format("~/Asserts/scripts/lib/CustomExtends/jquery.kendo.extend.{0}js?v={1}", localString, version))
                                                                                                                                                                                  .Load())
    @RenderSection("Script_Link", required: false)
}
@if (IsSectionDefined("Scripts"))
{

    @RenderSection("Scripts", required: false)
}



@section Head_Style_Block{
    @RenderSection("Head_Style_Block", required: false)
}
@section Head_Script_Block{
    <script>kendo.culture("zh-CN");</script>
    @RenderSection("Head_Script_Block", required: false)
}
@section Header{
    @RenderSection("Header", required: false)
}

@RenderBody()
@*<div style="background:url(/Asserts/images/blankbg.png)  no-repeat; background-position:50% 75%; height:500px; width:100%; z-index:-1; position:absolute; top:0px;"></div>*@
@section Footer{
    @RenderSection("Footer", required: false)
}



@section Foot_Script_Block{
    <script>
        $(function () {
            $(document).ajaxError(function (event, xhr, settings, exception) {
                if (xhr.statusText === 'abort') {
                    return;
                }
                var message = xhr.responseText ? xhr.responseText : "处理您的请求时发生错误"
                console.log(message);

            });
            $(window).resize(function () {
                var height = $(window).height() - 60;
                $('.k-splitter').each(function () {

                    $(this).height(height);
                    $(".k-pane", this).height(height);
                    $(".k-splitbar", this).height(height);

                });
            });
            var height = $(window).height() - 60;
            $('.k-splitter').each(function () {
                $(this).height(height);
                $(".k-pane", this).height(height);
                $(".k-splitbar", this).height(height);

                $(this).data("kendoSplitter").trigger("resize");

            });
        });
    </script>
    @RenderSection("Foot_Script_Block", required: false)
}
