@{
	Layout = "_GridViewLayout.cshtml";

	dynamic rightPannelData = ViewData.ContainsKey("RightPanneData") ? (dynamic)ViewData["RightPanneData"] : null;

	string action = null, controller = null; object data = null;
	if (rightPannelData != null)
	{
		action = (string)rightPannelData.Action;
		controller = (string)rightPannelData.Controller;
		data = (object)rightPannelData.Data;
	}
}


@RenderBody()

<div id="spLayuout" name="spLayuout" style="height: 600px;">
	<div id="top_pane">
		@if (IsSectionDefined("ToolsBar"))
		{
			<div class="tree-button">

				<div class="s-f-right" style=" padding-right:12px;">
					@RenderSection("ToolsBar", false)
				</div>

			</div>
		}
		<div class="clear"></div>
		<div class="content" style="display:block;">
			@RenderSection("LeftSection", true)
		</div>
	</div>
	<div id="ajax_pane">
		@if (IsSectionDefined("RightSection"))
		{
			if (IsSectionDefined("RightToolsBar"))
			{
				<div class="s-f-right">
					@RenderSection("RightToolsBar", false)
				</div>
				<div class="clear"></div>
			}

			@if (IsSectionDefined("RightSearch"))
			{
				<div class="s-search">
					@RenderSection("RightSearch", false)
				</div>
				<div class="clear"></div>
			}
			@RenderSection("RightSection", true)

			<script type="text/javascript">
				$(function () {
					SetLockContentHeight();
				});
			</script>


		}
	</div>
</div>
@Html.Hidden("rightContentUrl", rightPannelData != null ? Url.Action(action, controller, data) : "")
<script>
	kendo.syncReady(function () {
		var rightPanne = { "scrollable": true };
		rightPanne.contentUrl = $("#rightContentUrl").val();
		var questionMark = rightPanne.contentUrl.indexOf("?");
		jQuery("#spLayuout").kendoSplitter({
			"panes":
				[
					{ "collapsible": true, "size": "250px", resizable: false },
					{ "scrollable": false, resizable: false, "contentUrl": rightPanne.contentUrl == "" ? null : rightPanne.contentUrl + ((questionMark > 0 ? "&t=" : "?t=") + new Date().getTime()) }
				],
			collapse: function (e) {
				if (e.pane.id == "top_pane") {
					$(".r-tree-tools", "#top_pane").hide();
					$(".tree-button", "#top_pane").hide();
				}
			},
			contentLoad: function (e) {
				setTimeout(function () {
					SetLockContentHeight();
				}, 500);
			},

			expand: function (e) {
				if (e.pane.id == "top_pane") {
					$(".r-tree-tools", "#top_pane").show();
					$(".tree-button", "#top_pane").show();
				}

			}, resize: function (e) {
				SetLockContentHeight();
			}
		});


		if ($(".tree-button", "#top_pane").length) {
			var height = $(".tree-button", "#top_pane").outerHeight();
			$(".content", "#top_pane").css({ "padding-top": height });
		}

	});
	function SetLockContentHeight() {
		var height = 0.0;
		if ($(".lockTitle", "#ajax_pane").length > 0) {
			$(".lockTitle", "#ajax_pane").parentsUntil("#ajax_pane").each(function () {
				height += GetPrevHeith(this, height);
			});
			$(".lockTitle >.k-content", "#ajax_pane").css({ "max-height": $("#ajax_pane").height() - height - 60 });
		} else {
			//$("div[data-role='grid']:first", "#ajax_pane").parentsUntil("#ajax_pane").each(function () {
			//	height += GetPrevHeith(this, height);
			//});
			height += GetPrevHeith("div[data-role='grid']:first", "#ajax_pane");
			$("div[data-role='grid']:first", "#ajax_pane").css({ "height": $("#ajax_pane").height() - height })
		}
	}


	function GetPrevHeith(obj) {
		var height = 0;
		$(obj).prevAll().each(function () {
			var $that = $(this);
			height += $that.outerHeight();
			height += parseFloat($that.css("margin-top").replace("px", "")) + parseFloat($that.css("margin-bottom").replace("px", ""));

		});
		return height;
	}

</script>




@section Scripts
	{
	@RenderSection("Scripts", required: false)
}