
<div class="k-widget k-grid s-container">
    <div class="k-toolbar k-grid-toolbar k-grid-top">
        <!--标题导航 -->
        <div class="outside_title">@ViewData["Title"]</div>
        <!--按钮区域-->
        @if (ViewData.Any(p => p.Key == "ToolsBar") && ViewData["ToolsBar"] != null)
        {
            <div class="s-f-right">
                @if (ViewData["ToolsBar"] is string)
                {
                    @Html.Raw(ViewData["ToolsBar"] as string)
                }
                else
                {
                    var renderToolsBar = ViewData["ToolsBar"] as Func<IRazorPage, object>;
                    @renderToolsBar(this)
                }
            </div>
        }
        <div class="clear"></div>
    </div>
    <!--查询区域-->
    @if (ViewData.Any(p => p.Key == "Body") && ViewData["Body"] != null)
    {
        if (ViewData["Body"] is string)
        {
            @Html.Raw(ViewData["Body"] as string)
        }
        else
        {
            var renderToolsBar = ViewData["Body"] as Func<IRazorPage, object>;
            @renderToolsBar(this)
        }
    }
</div>
